@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,200,100);
/* line 17, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../scss/screen.scss */
body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background: url("../img/wavegrid.png") !important;
}

/* line 13, ../scss/screen.scss */
.ui-page[data-role="page"] {
  width: 100%;
  max-width: 940px;
  position: relative;
}
@media screen and (min-width: 345px) {
  /* line 13, ../scss/screen.scss */
  .ui-page[data-role="page"] {
    width: 90%;
    margin: 0 auto;
    border: 0;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 1024px) {
  /* line 27, ../scss/screen.scss */
  .ui-mobile-viewport {
    width: 940px;
    margin: 0 auto;
  }

  /* line 31, ../scss/screen.scss */
  .ui-page {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 1024px !important;
    margin: 0 auto !important;
    position: relative !important;
  }

  /* line 37, ../scss/screen.scss */
  .ui-mobile-viewport-transitioning, .ui-overlay-a {
    box-shadow: none;
  }
}
/* line 2, ../scss/_ui.scss */
#auth p, #signin p {
  text-align: center;
}

/* line 9, ../scss/_ui.scss */
.ui-header h1.ui-title {
  text-shadow: none;
  font-size: 2em;
  margin: 0;
  padding: 0.2em;
  font-weight: 200;
  min-height: 0;
}

/* line 19, ../scss/_ui.scss */
.ui-bar-a {
  border: 0;
  background: #66bfbb;
}
/* line 23, ../scss/_ui.scss */
.ui-bar-a.ui-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 30, ../scss/_ui.scss */
.ui-bar-a .ui-btn {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #66bfbb;
}
/* line 38, ../scss/_ui.scss */
.ui-bar-a .ui-btn:hover {
  background: #317572;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 45, ../scss/_ui.scss */
.ui-bar-a [data-icon="delete"] {
  display: none;
}

/* line 52, ../scss/_ui.scss */
.ui-header .ui-btn-up-a,
.ui-header .ui-btn-hover-a {
  height: 100%;
  width: 3em;
  top: 0;
}
/* line 57, ../scss/_ui.scss */
.ui-header .ui-btn-up-a.ui-btn.settings-btn,
.ui-header .ui-btn-hover-a.ui-btn.settings-btn {
  background: center center url(../img/settings.png) no-repeat;
  right: 0;
}
/* line 60, ../scss/_ui.scss */
.ui-header .ui-btn-up-a.ui-btn.settings-btn:hover,
.ui-header .ui-btn-hover-a.ui-btn.settings-btn:hover {
  background-color: #47aba6;
}
/* line 65, ../scss/_ui.scss */
.ui-header .ui-btn-up-a.ui-btn.back-btn,
.ui-header .ui-btn-hover-a.ui-btn.back-btn {
  background: center center url(../img/back.png) no-repeat;
  left: 0;
}
/* line 69, ../scss/_ui.scss */
.ui-header .ui-btn-up-a.ui-btn.back-btn:hover,
.ui-header .ui-btn-hover-a.ui-btn.back-btn:hover {
  background-color: #47aba6;
}

/* line 75, ../scss/_ui.scss */
.ui-btn-inline {
  background: #66bfbb;
  border: #388783;
}
/* line 79, ../scss/_ui.scss */
.ui-btn-inline:hover {
  background: #409995;
}
/* line 83, ../scss/_ui.scss */
.ui-btn-inline .ui-btn-text {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/* line 92, ../scss/_ui.scss */
.ui-controlgroup-controls .ui-radio-on {
  background: #66bfbb;
  border-color: #66bfbb;
}

/* line 98, ../scss/_ui.scss */
.ui-listview {
  border-radius: 4px;
  overflow: hidden;
}
/* line 102, ../scss/_ui.scss */
.ui-listview .ui-btn {
  background: #66bfbb;
  border: 0;
}
/* line 106, ../scss/_ui.scss */
.ui-listview .ui-btn a {
  text-shadow: none;
}

/* line 1, ../scss/_timepick.scss */
.timepick {
  text-align: center;
}
/* line 4, ../scss/_timepick.scss */
.timepick .howmuch {
  text-align: center;
}

/* line 9, ../scss/_timepick.scss */
.time-picker-clock {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 1em auto;
  border: 4px solid #66bfbb;
  border-radius: 1000px;
  text-align: center;
}
/* line 18, ../scss/_timepick.scss */
.time-picker-clock:before, .time-picker-clock:after {
  display: block;
  position: absolute;
}

/* line 24, ../scss/_timepick.scss */
.min-count {
  color: #388783;
  font-weight: bold;
  font-size: 1.25em;
  position: relative;
  top: 25%;
}
/* line 31, ../scss/_timepick.scss */
.min-count b {
  display: block;
  font-size: 4em;
}

/* line 37, ../scss/_timepick.scss */
div.ui-slider {
  background: #fff;
  border-radius: 100px;
  border: 2px solid #b8b8b8;
  height: 10px;
  width: 60%;
  max-width: 600px;
  margin: 1em 28.5%;
}
@media screen and (max-width: 500px) {
  /* line 37, ../scss/_timepick.scss */
  div.ui-slider {
    width: 60%;
    margin: 1em 20%;
  }
}

/* line 52, ../scss/_timepick.scss */
.ui-slider-handle {
  background: #66bfbb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-shadow: none;
  border: 0;
}

/* line 59, ../scss/_timepick.scss */
.ui-slider-input {
  display: none !important;
}

/* line 63, ../scss/_timepick.scss */
.start-reading-button {
  margin-left: auto;
  margin-right: auto;
}

/* line 2, ../scss/_reader.scss */
.article-text {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
/* line 7, ../scss/_reader.scss */
.article-text h2 {
  color: #66bfbb;
  font-size: 2em;
  margin: 1.5em auto;
  text-align: center;
  line-height: 120%;
  max-width: 75%;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  /* line 7, ../scss/_reader.scss */
  .article-text h2 {
    margin: 0.75em auto 1em auto;
  }
}
/* line 21, ../scss/_reader.scss */
.article-text p {
  line-height: 140%;
  margin-bottom: 1em;
}

/* line 29, ../scss/_reader.scss */
.reader-textsize-small .article-text p {
  font-size: 0.8em;
}

/* line 32, ../scss/_reader.scss */
.reader-textsize-large .article-text p {
  font-size: 1.25em;
}

/* line 37, ../scss/_reader.scss */
.loading-text {
  margin-top: 2em;
  text-align: center;
  font-size: 1.1em;
  color: #666;
}

/* line 45, ../scss/_reader.scss */
.article-footer {
  max-width: 600px;
  margin: 2em auto 0 auto;
  padding-top: 2em;
  border-top: 1px solid #999;
  text-align: center;
}
/* line 52, ../scss/_reader.scss */
.article-footer p {
  margin-bottom: 1em;
}

/* line 58, ../scss/_reader.scss */
.article-text > iframe {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  height: 360px;
}
@media screen and (max-width: 640px) {
  /* line 58, ../scss/_reader.scss */
  .article-text > iframe {
    width: 500px;
    height: 281px;
  }
}
@media screen and (max-width: 500px) {
  /* line 58, ../scss/_reader.scss */
  .article-text > iframe {
    width: 400px;
    height: 225px;
  }
}
@media screen and (max-width: 400px) {
  /* line 58, ../scss/_reader.scss */
  .article-text > iframe {
    width: 320px;
    height: 180px;
  }
}

/* line 2, ../scss/_about.scss */
.about-text p {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 0.5em;
}
/* line 7, ../scss/_about.scss */
.about-text p:first-child {
  color: #666;
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.9em;
}

/* line 60, ../scss/screen.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: "Roboto";
}
