// Article header + body
.article-text {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;

	h2 {
		color: $base-color;
		font-size: 2em;
		margin: 1.5em auto;
		text-align: center;
		line-height: 120%;
		max-width: 75%;
		font-weight: 200;
		
		@media screen and (max-width: 768px) {
			margin: 0.75em auto 1em auto;
		}
	}

	p {
		margin-bottom: 1em;
	}

}

.reader-textsize-extrasmall .article-text p  {font-size: 0.8em; }
.reader-textsize-small .article-text p { font-size: 0.8em; }
.reader-textsize-medium .article-text p { font-size: 1em; }
.reader-textsize-large .article-text p { font-size: 1.2em; }
.reader-textsize-extralarge .article-text p { font-size: 1.4em; }

.reader-background-light .article-text { background-color: #fff; color: #555; }
.reader-background-medium .article-text { background-color: #fff; color: #555; }
.reader-background-dark .article-text { background-color: #333; color: #ddd; }

.reader-line-regular .article-text p { line-height: 1.1 }
.reader-line-tall .article-text p { line-height: 1.4 }

.reader-width-small .article-text { max-width: 35em; }
.reader-width-medium .article-text { max-width: 40em; }
.reader-width-large .article-text { max-width: 45em; }


// Loading text before article appears
.loading-text {
	margin-top: 2em;
	text-align: center;
	font-size: 1.1em;
	color: #666;
}

// Footer shown after article
.article-footer {
	max-width: 600px;
	margin: 2em auto 0 auto;
	padding-top: 2em;
	border-top: 1px solid #999;
	text-align: center;
	
	p {
		margin-bottom: 1em;
	}
}

// Embedded video
.article-text > iframe {
	margin-left: auto;
	margin-right: auto;
	
	// Dimmensions
	width: 640px;
	height: 360px;
	
	@media screen and (max-width: 640px) {
		width: 500px;
		height: 281px;
	}
	@media screen and (max-width: 500px) {
		width: 400px;
		height: 225px;
	}
	@media screen and (max-width: 400px) {
		width: 320px;
		height: 180px;
	}
}