
#auth p, #signin p {
	text-align: center;
}

.ui-header {
	// box-shadow: 0 2px 0 rgba($base-color, 0.5);
	
	h1.ui-title {
		text-shadow: none;
		font-size: 2em;
		margin: 0;
		padding: 0.2em;
		font-weight: 200;
		min-height: 0;
	}
}

.ui-bar-a {
	border: 0;
	background: $base-color;

	&.ui-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}


	.ui-btn {
		@include transition-property(background);
		@include transition-duration(0.3s);
		border: 0;
		@include border-radius(0);
		@include box-shadow(none);
		background-color: $base-color;
		
		&:hover {
			background: darken($base-color, 25%);
			@include transition-property(background);
			@include transition-duration(0.3s);
		}
	}

	[data-icon="delete"] {
		display: none;
	}

}

.ui-header .ui-btn-up-a, 
.ui-header .ui-btn-hover-a {
	height: 100%;;
	width: 3em;
	top: 0;

	&.ui-btn.settings-btn {
		background: center center url(../img/settings.png) no-repeat;
		right: 0;
		&:hover {
			background-color: darken($base-color, 10%);
		}
	}

	&.ui-btn.back-btn {
		background: center center url(../img/back.png) no-repeat;
		left: 0;

		&:hover {
			background-color: darken($base-color, 10%);
		}
	}
}

.ui-btn-inline {
	background: $base-color;
	border: darken($base-color, 20%);
	
	&:hover {
		background: darken($base-color, 15%)
	}
	
	.ui-btn-text {
		color: white;
		text-shadow: 0 -1px 0 rgba(#000, 0.5);
	}
}

.ui-controlgroup-controls {
	.ui-radio-on {
		background: $base-color;
		border-color: $base-color;
	}
}

.ui-listview {
	border-radius: 4px;
	overflow: hidden;

	.ui-btn {
		background: $base-color;
		border: 0;
		
		a {
			text-shadow: none;
		}
	}
}

.ui-icon-arrow-r {
	border-radius: 100px;
}