[data-role="page"] {
	max-width: 1024px;
	margin: auto;
	background: url('../img/wavegrid.png');
}

.ui-header {
	// box-shadow: 0 2px 0 rgba($base-color, 0.5);
	
	h1 {
		// text-shadow: 0 -1px 0 rgba(#000, 0.5);
	}
}

.ui-bar-a {
	border-color: transparent;
	background: $base-color;
		
	.ui-btn {
		@include transition-property(background);
		@include transition-duration(0.3s);

		border-color: transparent;
		border-radius: 4px;
		box-shadow: inset 0 2px 2px rgba(#fff, 0.25);
		background: darken($base-color, 15%);
		
		&:hover {
			background: darken($base-color, 25%);
			@include transition-property(background);
			@include transition-duration(0.3s);
		}
	}
}

.ui-btn-inline {
	background: $base-color;
	border: darken($base-color, 20%);
	
	&:hover {
		background: darken($base-color, 15%)
	}
	
	.ui-btn-text {
		color: white;
		text-shadow: 0 -1px 0 rgba(#000, 0.5);
	}
}

.ui-controlgroup-controls {
	.ui-radio-on {
		background: $base-color;
		border-color: $base-color;
	}
}

.ui-listview {
	border-radius: 4px;
	overflow: hidden;

	.ui-btn {
		background: $base-color;
		border: 0;
		
		a {
			text-shadow: none;
		}
	}
}

